---
title: "Archive"
layout: blank
---
<ul class="list-group">
  {% for post in site.posts %}

    {% unless post.next %}
      <h3>{{ post.date | date: '%Y' }}</h3>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h3>{{ post.date | date: '%Y' }}</h3>
      {% endif %}
    {% endunless %}

    <li class="list-group-item">
      <h4><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
      <span class="label label-primary">{{ post.date | date:"%Y-%m-%d" }}</span>
      {% for category in post.categories %}
        <span class="label label-info">{{ category }}</span>
      {% endfor %}
    </li>
  {% endfor %}
</ul>
