<script type="text/javascript" src="{{ '/assets/libs/jquery/3.5.1/jquery.slim.min.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/assets/libs/jquery-compat/3.0.0-alpha1/jquery.min.js' | prepend: site.baseurl }}"></script>
<script tyep="text/javascript" src="{{ '/assets/libs/popper.js/2.5.2/umd/popper.min.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/assets/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/assets/libs/jquery-backstretch/2.1.18/jquery.backstretch.min.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/assets/libs/mermaid/8.8.0/mermaid.min.js' | prepend: site.baseurl }}"></script>

<script type="text/javascript" src="{{ '/assets/js/toc.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/assets/js/script.js' | prepend: site.baseurl }}"></script>

<!-- <script type="text/javascript" src="//liushoukai.disqus.com/embed.js"></script> -->
<script>
  var config = {
    startOnLoad:true,
    flowchart:{
      useMaxWidth:false,
      htmlLabels:true,
      curve:'cardinal',
    },
    securityLevel:'loose',
  };
  mermaid.initialize(config);
</script>

{% for script in page.scripts %}
<input type="hidden" value="{{ script }}">
<script type="text/javascript" src="{{ '/assets/js/' | append: script | prepend: site.baseurl }}"></script>
{% endfor %}
