<link rel="stylesheet" type="text/css" href="{{ '/assets/bootstrap/3.3.5/css/bootstrap.min.css' | prepend: site.baseurl }}">
<link rel="stylesheet" type="text/css" href="{{ '/assets/octicons/3.3.0/octicons.css' | prepend: site.baseurl }}">
<link rel="stylesheet" type="text/css" href="{{ '/assets/css/style2.css' | prepend: site.baseurl }}" />
<link rel="stylesheet" type="text/css" href="{{ '/assets/css/syntax_highlighter.css' | prepend: site.baseurl }}" />
{% for style in page.styles %}
<link rel="stylesheet" type="text/css" href="{{ '/assets/css/' | append: style | prepend: site.baseurl }}" />
{% endfor %}
