<nav class="navbar navbar-default navbar-fixed-top navbar-inverse headroom headroom--top" role="banner" style="top: 0px;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}" title="Know Thyself">Know Thyself</a>
        </div>
        <div role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
            <p class="navbar-text pull-right">Know thyself, Nothing in excess</p>
            <ul class="nav navbar-nav">
                <li {% if page.url == "/" %} class="active" {% endif %}>
                    <a href="{{ '/' | prepend: site.baseurl }}" class="word-keep"><span class="octicon octicon-book"></span>&nbsp;&nbsp;Blog</a>
                </li>
                {% assign sorted = site.pages | sort: 'order' %}
                {% for p in sorted %}
                {% if p.isNavItem %}
                <li {% if p.url == page.url %} class="active" {% endif %}>
                    <a href="{{ p.url | prepend: site.baseurl }}" class="word-keep"><span class="octicon {{ p.icon }}"></span>&nbsp;&nbsp;{{ p.title }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
