/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

/* Blog main
-------------------------------------------------- */
.blog-main {
  padding-top: 2rem;
  padding-bottom: 2rem
}

/* Blog name and description
-------------------------------------------------- */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

/* Blog posts
-------------------------------------------------- */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 1.8rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/* Blog footer
-------------------------------------------------- */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.word-keep{
  display: inline-block;
  word-break: keep-all;
  font-family: 'ArchitectsDaughter';
  font-size: 0.9rem;
}
