---
layout: page
title: Category
permalink: /category/
icon: octicon-list-unordered
styles: [tags.css]
scripts: [tags.js]
navItemDisplay: true
navItemOrder: 2
---

<div>
  <ul class="tag-box inline">
      {% for category in site.categories %}
      <li><a href="#{{ category | first }}">{{ category | first }}<span>{{ category | last | size }}</span></a></li>
      {% endfor %}
  </ul>
</div>

<div>
  {% for category in site.categories %}
  <h3 id="{{ category | first }}">{{ category | first }}</h3>
  <ul>
      {% for posts in category %}
      {% for post in posts %}
      {% if post.title != null %}
      <li itemscope><a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a></li>
      {% endif %}
      {% endfor %}
      {% endfor %}
  </ul>
  {% endfor %}
</div>
