---
layout: default
title: Category
permalink: /category/
icon: octicon-list-unordered
styles: [article-list.css, category.css]
scripts: [category.js]
isNavItem: true
order: 2
---
<div class="row index">
  <div class="col-sm-10 col-sm-offset-1 col-lg-9 col-lg-offset-1_5">
    <div class="dropdown" style="top: 60px;">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="octicon octicon-list-unordered"></span>&nbsp;Categories
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="javascript:void(0);" class="categories-item" cate="All">All&nbsp;<span class="categories-badge"> {{site.posts | size}}</span></a></li>
        {% for category in site.categories %}
        <li><a href="javascript:void(0);" class="categories-item" cate="{{ category | first }}">{{ category | first }}&nbsp;<span class="categories-badge">{{ category | last | size }}</span></a></li>
        {% endfor %}
      </ul>
    </div>
    <div style="top: 60px; position: relative;">
      <section class="category-slice" post-cate="All" style="display: block;">
        {% for post in site.posts %}
        <article>
            <div class="module">
                <a class="title" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
            </div>
        </article>
        {% endfor %}
      </section>
      {% for category in site.categories %}
      <section class="category-slice" post-cate="{{ category | first }}" style="display: block;">
        {% for post in site.posts %}
          <article post-cate="{{ category | first }}" curr-cate="{{ post.categories }}">
            <div class="module">
                <a class="title" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
            </div>
          </article>
        {% endfor %}
      </section>
      {% endfor %}
    </div>
  </div>
</div>
