<!DOCTYPE html>
<html>
  <head>

    <title>{{ page.title }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ site.author }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="description" content="{{ site.description }}">
    
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="canonical" href="{{ page.url | prepend: site.baseurl }}">
    <!-- <link href="{{ "/main.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css"> -->
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,200italic,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} &raquo; Feed" href="{{ "/feed.xml" | prepend: site.baseurl }}">
    


<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script type="text/javascript" async="true" src="//{{ site.comments.disqus }}.disqus.com/embed.js" ></script>

  </head>

  <body>
    <div class="container">

      <div class="page-header row">
        <div class="col-md-10">
          <h1>{{ site.title }}</h1>
        </div>
        <div class="col-md-2">
          <ul class="nav navbar-nav">
            <li {% if page.url == "/index.html" %}class="active"{% endif %}><a href="{{ "/index.html" | prepend: site.baseurl }}">Home</a></li>
            <li {% if page.url == "/archive.html" %}class="active"{% endif %}><a href="{{ "/archive.html" | prepend: site.baseurl }}">Archive</a></li>
          </ul>
        </div>
      </div>
      
      {{ content }}

      <div class="row center-block">
        <span>
          &copy;Copyright {{ site.author }} {{ site.time | date: "%Y" }}
          {% for link_hash in site.links %}
            {% for link in link_hash %}
              <a href="{{ link[1] }}"><i class="fa fa-{{ link[0] }}-square"></i></a>
            {% endfor %}
          {% endfor %}
        </span>
      </div>
    </div>
  </body>
</html>
