---
layout: blank
---
<article>
  <header>
    <h2><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h2>
    <span class="label label-primary">{{ page.date | date: '%Y-%m-%d' }}</span>
    <span class="label label-success">{{ page.author }}</span>
    {% for category in page.categories %}
      <span class="label label-info">{{ category }}</span>
    {% endfor %}
  </header>

  <p>
  {{ content }}
  </p>

  {% if page.comments %}
  <div id="disqus_thread"></div>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  {% endif %}
</article>
