---
layout: default
styles: [post.css]
scripts: [toc.js,post.js]
---
<!-- <link rel="stylesheet" type="text/css" href="/assets/css/post.css" /> -->
<div class="row row-set">

  <div class="content col-lg-9">
    <div class="sheet post">
      <header>
        <h2>{{ page.title }}</h2>
        <p class="post-meta">
          <span class="octicon octicon-clock"></span>
          <span>{{ page.date | date: "%b %-d, %Y" }}</span>
        </p>
        <p>
          <span>
          {% for category in page.categories %}
          <a class="word-keep" href="{{ '/category' | prepend: site.baseurl }}/#{{ category }}"><span class="octicon octicon-list-unordered"></span>&nbsp;{{ category }}</a>
          {% endfor %}
          {% for tag in page.tags %}
          <a class="word-keep" href="{{ '/tags' | prepend: site.baseurl }}/#{{ tag }}"><span class="octicon octicon-tag"></span>&nbsp;{{ tag }}</a>
          {% endfor %}
          </span>
        </p>
      </header>

      <hr class="boundary">
      <article>
        {{content}}
      </article>
      <hr class="boundary">

      <div id="post-share" class="bdsharebuttonbox">
        <a href="#" class="bds_evernotecn" data-cmd="evernotecn"></a>
        <a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a>
      </div>
    </div>
    <div class="pad-min"></div>
    <!-- <div id="post-comment" class="sheet post">
      <div id="disqus_thread"></div>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div> -->
  </div>

  <div class="content-navigation col-lg-3">
    <div class="shadow-bottom-center" >
      <div class="content-navigation-toc">
          <div class="content-navigation-header">
              <span class="octicon octicon-list-unordered"></span>&nbsp;Toc
          </div>
          <div id="toc" class="content-navigation-list toc"></div>
      </div>
    </div>
    <div class="shadow-bottom-center" >
      <div class="content-navigation-tag">
          <div class="content-navigation-header">
              <span class="octicon octicon-list-unordered"></span>&nbsp;Tags
          </div>
          {% if page.tags != null %}
          <!-- <div class="content-navigation-list">
              <ul>
                  {% for tag in page.tags %}
                  <li>
                      <a href="{{ '/tags' | prepend: site.baseurl }}#{{ tag }}"><span class="octicon octicon-tag"></span>&nbsp;{{ tag }}</a>
                  </li>
                  {% endfor %}
              </ul>
          </div> -->
          {% endif %}
      </div>
    </div>
  </div>

</div>
